body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #232526, #414345);
  color: white;
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 120px;
  letter-spacing: 3px;
}
